<h1 id="title"> CodeBook || Sign In </h1>

<form action="/create-session" method="POST" class="sign-in-form">
    <input type="email" name="email" placeholder="Enter your Email..." required>
    <input type="password" name="password" placeholder="Enter your password..." required>
    <input type="submit" value="Sign In">
</form>

<p style="text-align: center;">
    <a href="/auth/google"> Login With Google </a>
</p>

<hr>

<h3 style="text-align: center;"> Not Signed Up yet? </h3>
<!-- <form action="/sign-up" method="POST" class="sign-in-form">
    <input type="submit" value="Sign Up">
</form> -->
<div style="text-align: center;">
    <a href="/sign-up">
        <input type="submit" value="Sign Up" style="height: 2rem;
        width: 15rem;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;">
    </a>
</div>

<div style="text-align: center;">
    <a href="/">
        <input type="submit" value="Home" style="height: 2rem;
        width: 15rem;
        margin-top: 10px;
        margin-bottom: 10px;">
    </a>
</div>