
<link rel="stylesheet" href="/css/user_profile.css">
<h1 style="text-align: center;"> Welcome to Profile Page </h1>

<p style="text-align: center; font-size: 25px;"> <%= user.name %> </p>

<div style="text-align: center;">
    <a href="/sign-out">
        <input type="submit" value="Sign Out" style="height: 2rem;
        width: 15rem;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;">
    </a>
</div>