body{
    margin: 0;
    background-color: skyblue;
}

#title{
    text-align: center;
}

#sign-in{
    text-align: center;
    margin: 2rem;
}

#sign-up{
    text-align: center;
    margin: 2rem;
}

.sign-in-form{
    display: flex;
    flex-direction: column;
}

.sign-in-form input{
    height: 2rem;
    width: 15rem;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}